.vertical-menu{
    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
   
}
.vertical-menu__item-container-0{
    list-style: none;
    font-size: 80%;
    padding-bottom: 15px;
}
.vertical-menu__item-0{
    padding-top: 20px;
    
}

.vertical-menu__item-0--close{
    background-color: white;     
    width:100%;      
    border:0.1px solid #EDEDED;
    
} 
.vertical-menu__item-0--open{
    background-color: white;     
    width:100%;      
    border:0.1px solid #EDEDED;
   
} 
#home.vertical-menu__item-0--close:before{
    margin: 20px;
    content:'\f015';
    font-family: FontAwesome; 
    
}
#calendar.vertical-menu__item-0--close:before{
    margin: 20px;
    content:'\f073';
    font-family: FontAwesome; 
}
#userInterface.vertical-menu__item-0--close:before{
    margin: 20px;
    content:'\f0ea';
    font-family: FontAwesome; 
}
#contacto.vertical-menu__item-0--close:before{
    margin: 20px;
    content:'\f2b9';
    font-family: FontAwesome; 
}
#forums.vertical-menu__item-0--close:before{
    margin: 20px;
    content:'\f1d7';
    font-family: FontAwesome; 
}

.vertical-menu__item-0--open:before{
    content: "\f2c0";
    font-family: FontAwesome;
    padding:10px;
}

.vertical-menu__item-container-1{
    list-style: none;
    background-color: white;
    padding: 0px;

}
.vertical-menu__item-1{
    padding-top: 20px;
    padding-bottom: 20px;
    border:0.1px solid #EDEDED;
    padding-left: 30px;
}
.vertical-menu__item-1--close{

}
.vertical-menu__item-1--doc{


}
.vertical-menu__item-1--close:before{
    content:'\f2c0';
    font-family: FontAwesome;  

}
.vertical-menu__item-1--doc:before{
    content:'\f2c0';
    font-family: FontAwesome;  

}
.vertical-menu-container--icono_open:after{
    float:right;   
    content:"\f068";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu-container--icono_close:after{
    float:right;   
    content:"\f067";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu-item--icono_open:after{
    float:right;   
    content:"\f067";
    font-family: FontAwesome; 
    padding-right: 10px;
}    
.vertical-menu-item--icono_close:after{
    float:right;   
    content:"\f067";
    font-family: FontAwesome; 
    padding-right: 10px;
}   

.vertical-menu__link-0{
    padding-bottom: 20px;
    display:inline-block;
    text-decoration: none;
    color:#262626;
} 
   
#link.vertical-menu__link-0{
    line-height: 50px;
    margin-left: 10px;
}
.visible{
    display:hidden;
}

.invisible{
    display:none;
}



.main-menu:after {
    content: "";
    clear:both;
    display: block;
}
 
.vertical-menu__item-0 {
    padding: 10px;   
}
 
.vertical-menu__item-hamburger {
    padding: 10px;    
}
 
 
@media(max-width: 499px) {
    .vertical-menu__item-0 {
        float:none;
        display:none;
    }
    .vertical-menu__item-hamburger {
        display: inline-block;
    }
     
    .main-menu {
        position:absolute;
        top:19px;
        left:0px;
    }
     
    .vertical-menu__item-0--visible {
        display:list-item;
    }
    .vertical-menu__item-0--hide {
        display:none;
    }
 
     
}
@media(min-width: 500px) {
    .vertical-menu__item-0 {
       
        display:list-item;
    }
     
    .vertical-menu__item-hamburger {
        display: none;
    }
 
    .main-menu {
        position: static;      
    }
}