$functional-variations:(primary, #337AB7),   
                   (error,#eae364),
                   (info,#3c7965),
                   (warning,#E08E86);
                   
$size-variations:(xs),
                 (s),
                 (l),
                 (xl);
$num-columns:12;